pkgbase = gourou
	pkgdesc = Download and decrypt adobe encrypted (acsm) pdf and epub files
	pkgver = 0.8.1
	pkgrel = 4
	url = https://indefero.soutade.fr/p/libgourou
	arch = x86_64
	license = LGPL3
	depends = glibc
	depends = gcc-libs
	depends = zlib
	depends = libzip
	depends = openssl
	depends = pugixml
	depends = curl
	provides = gourou=0.8.1
	provides = libgourou=0.8.1
	conflicts = gourou-git
	conflicts = gourou-bin
	options = strip
	source = git://soutade.fr/libgourou.git#tag=v0.8.1
	source = git://soutade.fr/updfparser.git#commit=a421098092ba600fb1686a7df8fc58cd67429f59
	source = build.patch
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 768e49fddcabe8b4c6f771ebbddf2618ab59e7b1a399d99aa9a9881f932e092210878ef576144593684b4c3a763218c5b546dbe19fdbadeff13995245bffda19

pkgname = gourou
