pkgbase = another-package
	pkgdesc = Another test package for HTTP repo
	pkgver = 2.0.0
	pkgrel = 1
	url = https://example.com
	arch = x86_64
	license = MIT
	depends = bash
	depends = coreutils

pkgname = another-package
