name: Docker CI build
# This workflow is triggered on pushes to the repository.
on: [push, pull_request]

jobs:
  build:
    name: Build and test yay
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1#
      - name: Run Build and tests
        run: ./testdata/travis.sh
      - uses: actions/upload-artifact@master
        with:
          name: yay_release
          path: artifacts
